In [1]:
import pandas as pd
import numpy as np
import json
import requests
%matplotlib inline
import matplotlib.pyplot as plt
df = pd.read_csv("Airplane_Crashes_and_Fatalities_Since_1908.csv")

In [2]:
df = df[['Date', 'Time', 'Location', 'Operator', 'Aboard', 'Fatalities', 'Ground']]
df['Decade'] = df['Date'].apply(lambda x: ((int(str(x)[-4:])//10)*10))
df

,Date,Time,Location,Operator,Aboard,Fatalities,Ground,Decade
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,2.0,1.0,0.0,1900
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,5.0,5.0,0.0,1910
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,1.0,1.0,0.0,1910
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,20.0,14.0,0.0,1910
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,30.0,30.0,0.0,1910
5,03/05/1915,01:00,"Tienen, Belgium",Military - German Navy,41.0,21.0,0.0,1910
6,09/03/1915,15:20,"Off Cuxhaven, Germany",Military - German Navy,19.0,19.0,0.0,1910
7,07/28/1916,NaN,"Near Jambol, Bulgeria",Military - German Army,20.0,20.0,0.0,1910
8,09/24/1916,01:00,"Billericay, England",Military - German Navy,22.0,22.0,0.0,1910
9,10/01/1916,23:45,"Potters Bar, England",Military - German Navy,19.0,19.0,0.0,1910
10,11/21/1916,NaN,"Mainz, Germany",Military - German Army,28.0,27.0,0.0,1910
11,11/28/1916,23:45,"Off West Hartlepool, England",Military - German Navy,20.0,20.0,0.0,1910
12,03/04/1917,NaN,"Near Gent, Belgium",Military - German Army,20.0,20.0,0.0,1910
13,03/30/1917,NaN,Off Northern Germany,Military - German Navy,23.0,23.0,0.0,1910
14,05/14/1917,05:15,"Near Texel Island, North Sea",Military - German Navy,21.0,21.0,0.0,1910
15,06/14/1917,08:45,"Off Vlieland Island, North Sea",Military - German Navy,24.0,24.0,0.0,1910
16,08/21/1917,07:00,Off western Denmark,Military - German Navy,18.0,18.0,0.0,1910
17,10/20/1917,07:45,"Near Luneville, France",Military - German Navy,18.0,18.0,0.0,1910
18,04/07/1918,21:30,Over the Mediterranean,Military - German Navy,23.0,23.0,0.0,1910
19,05/10/1918,NaN,"Off Helgoland Island, Germany",Military - German Navy,22.0,22.0,0.0,1910
20,08/11/1918,10:00,"Ameland Island, North Sea",Military - German Navy,19.0,19.0,0.0,1910
21,12/16/1918,NaN,"Elizabeth, New Jersey",US Aerial Mail Service,1.0,1.0,0.0,1910
22,05/25/1919,NaN,"Cleveland, Ohio",US Aerial Mail Service,1.0,1.0,0.0,1910
23,07/19/1919,NaN,"Dix Run, Pennsylvania",US Aerial Mail Service,1.0,1.0,0.0,1910
24,10/02/1919,NaN,"Newcastle, England",Aircraft Transport and Travel,1.0,1.0,0.0,1910
25,10/14/1919,NaN,"Cantonsville, Maryland",US Aerial Mail Service,1.0,1.0,0.0,1910
26,10/20/1919,NaN,English Channel,Aircraft Transport and Travel,NaN,NaN,NaN,1910
27,10/30/1919,NaN,"Long Valley, New Jersey",US Aerial Mail Service,1.0,1.0,0.0,1910
28,03/10/1920,NaN,"New Paris, Indiana",US Aerial Mail Service,1.0,1.0,0.0,1920
29,03/30/1920,NaN,"Newark, New Jersey",US Aerial Mail Service,1.0,1.0,0.0,1920
...,...,...,...,...,...,...,...,...
5238,11/13/2008,11:35,"Fallujah, Iraq",Falcon Aviation Group,7.0,7.0,0.0,2000
5239,11/16/2008,10:32,"Thormanby Island, British Columbia, Canada",PacifiCoastal Airlines,8.0,7.0,0.0,2000
5240,11/27/2008,17:00,"Off Perpignan, France",XL Airways leased from Air New Zealand,7.0,7.0,0.0,2000
5241,12/03/2008,12:13,"San Juan, Puerto Rico",Webstas Aviation Services Inc.,3.0,3.0,0.0,2000
5242,12/11/2008,06:25,"Off Sabine Pass, Texas",Rotorcraft Leasing Co,3.0,3.0,0.0,2000
5243,12/15/2008,16:40,Off Turks and Caicos Islands,Alantis Aviation,12.0,12.0,0.0,2000
5244,01/04/2009,15:30,Near Houma Louisiana,Petroleum Helicopters Inc,9.0,8.0,0.0,2000
5245,01/15/2009,15:06,"New York, New York",US Airways,155.0,0.0,0.0,2000
5246,02/07/2009,14:00,"Manacapuru, Brazil",Aerotaxi Manaus,28.0,24.0,0.0,2000
5247,02/07/2009,06:30,"Trigoria, Italy",Air One Executive,2.0,2.0,0.0,2000
5248,02/12/2009,22:17,"Clarence Center, New York",Continental Connection/Colgan Air,49.0,49.0,1.0,2000
5249,02/15/2009,16:05,"Chanco, Chile",Flight Service,13.0,13.0,0.0,2000
5250,02/20/2009,04:10,"Luxor, Egypt",Aerolift,5.0,5.0,0.0,2000
5251,02/25/2009,10:31,"Amsterdam, Netherlands",Turkish Airlines,134.0,9.0,0.0,2000
5252,03/09/2009,05:40,"Lake Victoria, Uganda",Aerolift,11.0,11.0,0.0,2000
5253,03/12/2009,09:48,"Off St. Johns, Newfoundland",Cougar Helicopters,18.0,17.0,0.0,2000
5254,03/22/2009,14:28,"Butte, Montana",Eagle Cap Leasing,14.0,14.0,0.0,2000
5255,03/23/2009,06:48,"Tokyo, Japan",FedEx,2.0,2.0,0.0,2000
5256,04/01/2009,14:00,"Off Crimond, Scotland",Bond Offshore Helicopters,16.0,16.0,0.0,2000
5257,04/06/2009,12:30,"Bandung, Indonesia",Military - Indonesian Air Force,24.0,24.0,0.0,2000
5258,04/09/2009,07:00,"Near Wamena, Indonesia",Aviastar Mandiri,6.0,6.0,0.0,2000
5259,04/17/2009,10:30,"Mount Gergaji, Indonesia",Mimika Air,11.0,11.0,0.0,2000
5260,04/17/2009,15:32,"Canaima National Park, Venezuela",Aerotuy airline,11.0,1.0,0.0,2000
5261,04/29/2009,06:00,"Massamba, DemocratiRepubliof Congo",Bako Air,7.0,7.0,0.0,2000
5262,05/03/2009,12:00,"Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,18.0,18.0,0.0,2000
5263,05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,112.0,98.0,2.0,2000
5264,05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,4.0,4.0,NaN,2000
5265,06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,228.0,228.0,0.0,2000
5266,06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,1.0,1.0,0.0,2000
5267,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,13.0,13.0,0.0,2000

In [3]:
locations = {}
for i in range(1900, 2010, 10):
    locations[i] = []
    for j in df[df.Decade == i]['Location']:
        locations[i].append(j)

In [ ]:
coordinates = {}
for t in range(1900, 2010, 10):
    coordinates[t] = []
    for u in locations[t]:
        address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(u)+"key=AIzaSyAXtNIJroOwV-QzuC-vxRCP9wvNgv4tMzk"
        r = requests.get(address)
        jsondata = json.loads(r.text)
        if len(jsondata['results']) == 0:
            coordinates[t].append("Error")
        else:
            coordinates[t].append(jsondata['results'][0]['geometry']['location'])

In [73]:
masterlist = {}
for i in range(1900, 2010, 10):
    masterlist[i] = []
for row, index in df.iterrows():
    masterlist[index[7]].append([index[2],index[0], index[5]])

In [25]:
for x in masterlist[1900]:    
    address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(x[0])+"&key=AIzaSyAXtNIJroOwV-QzuC-vxRCP9wvNgv4tMzk"
    r = requests.get(address)
    jsondata = json.loads(r.text)
    if len(jsondata['results']) == 0:
        x.append("Error")
    else:
        x.append(jsondata['results'][0]['geometry']['location'])

In [26]:
for x in masterlist[1910]:
        address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(x[0])+"&key=AIzaSyAXtNIJroOwV-QzuC-vxRCP9wvNgv4tMzk"
        r = requests.get(address)
        jsondata = json.loads(r.text)
        if len(jsondata['results']) == 0:
            x.append("Error")
        else:
            x.append(jsondata['results'][0]['geometry']['location'])

In [28]:
for x in masterlist[1920]:
        address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(x[0])+"&key=AIzaSyAXtNIJroOwV-QzuC-vxRCP9wvNgv4tMzk"
        r = requests.get(address)
        jsondata = json.loads(r.text)
        if len(jsondata['results']) == 0:
            x.append("Error")
        else:
            x.append(jsondata['results'][0]['geometry']['location'])

In [30]:
for x in masterlist[1930]:
        address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(x[0])+"&key=AIzaSyAXtNIJroOwV-QzuC-vxRCP9wvNgv4tMzk"
        r = requests.get(address)
        jsondata = json.loads(r.text)
        if len(jsondata['results']) == 0:
            x.append("Error")
        else:
            x.append(jsondata['results'][0]['geometry']['location'])

In [31]:
for x in masterlist[1940]:
        address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(x[0])+"&key=AIzaSyAXtNIJroOwV-QzuC-vxRCP9wvNgv4tMzk"
        r = requests.get(address)
        jsondata = json.loads(r.text)
        if len(jsondata['results']) == 0:
            x.append("Error")
        else:
            x.append(jsondata['results'][0]['geometry']['location'])

In [32]:
for x in masterlist[1950]:
        address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(x[0])+"&key=AIzaSyAXtNIJroOwV-QzuC-vxRCP9wvNgv4tMzk"
        r = requests.get(address)
        jsondata = json.loads(r.text)
        if len(jsondata['results']) == 0:
            x.append("Error")
        else:
            x.append(jsondata['results'][0]['geometry']['location'])

In [33]:
for x in masterlist[1960]:
        address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(x[0])+"&key=AIzaSyAXtNIJroOwV-QzuC-vxRCP9wvNgv4tMzk"
        r = requests.get(address)
        jsondata = json.loads(r.text)
        if len(jsondata['results']) == 0:
            x.append("Error")
        else:
            x.append(jsondata['results'][0]['geometry']['location'])

In [55]:
for x in masterlist[1970]:
        address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(x[0])+"&key=AIzaSyCapQBMvVAzY7tDQDWZVXOK65QsjHFWuVo"
        r = requests.get(address)
        jsondata = json.loads(r.text)
        if len(jsondata['results']) == 0:
            x.append("Error")
        else:
            x.append(jsondata['results'][0]['geometry']['location'])

In [57]:
for x in masterlist[1980]:
        address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(x[0])+"&key=AIzaSyCapQBMvVAzY7tDQDWZVXOK65QsjHFWuVo"
        r = requests.get(address)
        jsondata = json.loads(r.text)
        if len(jsondata['results']) == 0:
            x.append("Error")
        else:
            x.append(jsondata['results'][0]['geometry']['location'])

In [58]:
for x in masterlist[1990]:
        address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(x[0])+"&key=AIzaSyCapQBMvVAzY7tDQDWZVXOK65QsjHFWuVo"
        r = requests.get(address)
        jsondata = json.loads(r.text)
        if len(jsondata['results']) == 0:
            x.append("Error")
        else:
            x.append(jsondata['results'][0]['geometry']['location'])

In [59]:
for x in masterlist[2000]:
        address = "https://maps.googleapis.com/maps/api/geocode/json?address="+str(x[0])+"&key=AIzaSyCapQBMvVAzY7tDQDWZVXOK65QsjHFWuVo"
        r = requests.get(address)
        jsondata = json.loads(r.text)
        if len(jsondata['results']) == 0:
            x.append("Error")
        else:
            x.append(jsondata['results'][0]['geometry']['location'])